/.phpunit.cache
/node_modules
/backend-temp
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/database.sqlite
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/vendor
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
